<h1>Editing Student</h1>

<%= render 'form' %>

<%= link_to 'Show', @student, class: "btn btn-link", class: "btn btn-link"  %> |
<%= link_to 'Back', students_path, class: "btn btn-link", class: "btn btn-link"  %>