@import "bootstrap-sprockets";
@import "bootstrap";

.bordered-table{
	border: 1px solid #ddd;
	margin: 40px 0 20px 0;
	padding: 15px;
}

li.menu_li:active{
	background: #222;
}

a.button-text{
	color: #fff;
}

tbody {
  .thumbnail {
  	height: 70px;
  	width: 70px;
  }
}

.resize{
	width: 300px;
	height: 300px;
}